:root {
    --text :#444444;
    --primary-light: rgb(244, 243, 243);
    --secondary-light: white;
    --box-shadow: rgb(174, 170, 170);
}

/* ELEMENT TAGS || */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    
    width: 80%;
    max-width: 350px;
    min-height: 100vh;
    margin:auto;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

button{
    cursor: pointer;
    color:var(--text);
}

/* MODAL || */
.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(214, 214, 214, .95);
}

.result{
    color: #444444;
    font-size: 3em;
    margin: auto;
    top: 50%;
    left: 50%
}

/* MAIN || */
main{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid grey;
    border-radius: 10px;
    margin-top: 2vh;
    overflow: hidden;
}

header{
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 600;
    color:var(--text);
    margin-top:2vh;
    text-align: center;
}

/* CHOICES || */
.choices{
    margin: 2vh auto 3vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:5%;
}

.choices > button{
    margin:1%;
    flex-basis: clamp(100px, 15vw, 300px);
    font-size: 1em;
    border: 1.5px solid #dedede;
    padding:5px;
    border-radius: 10px;
    background:white ;
}

.choices > button:not(.active):hover{
   background:  #f4f4f4;
}

.active{
    box-shadow: -1px 1px 8px -3px grey;
    font-weight: 600;
}

.board{
    width:90%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background: radial-gradient(rgb(248 248 248)50%, white);
    
}

.board > button{
    aspect-ratio: 1 / 1;
}

/* FIELD || */
.field{
    border: 4px solid #444444;
    font-size: 2em; /* temporary */
    /* background: rgb(248 248 248); */
    background:none;
}

.field:nth-child(-n + 3) {
    border-top: none;
}

.field:nth-child(3n + 1) {
    border-left: none;
}

.field:nth-child(3n + 3) {
    border-right: none;
}

.field:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.field:not(.disabled):hover {
    background: #e2e2e2;
}

/* RESTART */
#restart{
    font-size: 1.2em;
    width:100%;
    background:  white;
    border:none;
    height:10vh
}

/* CSS THAT HELPS JAVASCRIPT */
.x::after {
    content: '❌';
}

.o::after {
    content: '⭕';
}

.disabled {
    cursor: not-allowed;
}

/* FOOTER || */
footer{
    width: 100%;
    align-self: flex-end;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap:3vw;
    padding-top:2%;
    border-top: grey solid 1px;
    opacity: .8;
}

#svg{
    height: 20px;
    width: 16px;
}
