/* :root {
    --text: #676767;
    --primary-light: rgb(244, 243, 243);
    --secondary-light: white;
    --box-shadow: rgb(174, 170, 170);
} */

*{
    margin: 0;
    padding: 0;
}

body{
    margin:auto;
    padding: 0;
    width: 80%;
    max-width: 420px;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:5%
}

header{
    margin-top: 2%;
}

main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

button{
    border:none;
    /* border-radius: 5px; */
    /* padding:1% 0; */
    cursor: pointer;
}

.choices{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.choices > button{
    margin:1%;
    flex-basis: clamp(100px, 15vw, 300px);
    
}
.board{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.board > button{
    aspect-ratio: 1 / 1;
}

footer{
    width: 100%;
    align-self: flex-end;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap:5%;
    padding-top:2%;
    border-top: grey solid 1px;
    opacity: .8;
}

#svg{
    height: 20px;
    width: 16px;
}

.field{
    border: 1px solid #000;
    font-size: 2em; /* temporary */
}

.field:nth-child(-n + 3) {
    border-top: none;
}

.field:nth-child(3n + 1) {
    border-left: none;
}

.field:nth-child(3n + 3) {
    border-right: none;
}

.field:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.restart{
    font-size: 1em;
    /* temporary */
    padding:10px; 
    border-radius: 10px;
}

/* CSS THAT HELPS JAVASCRIPT */
.x::after {
    content: '❌';
}

.o::after {
    content: '⭕';
}

.disabled {
    cursor: not-allowed;
}

.field:not(.disabled):hover {
    background: rgb(175, 175, 175);
}

/* MODAL || */
.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(214, 214, 214, .95);
}
.result{
    color: #444444;
    font-size: 3em;
    margin: auto;
    top: 50%;
    left: 50%
}
